* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
  color: aliceblue;
}

.container {
  border: 1px solid yellow;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.settings {
  margin-bottom: 20px;
}

.output {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:15px ;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px 20px;
  /* margin-bottom: 10px; */
}

input[type = "range"] {
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #ccc;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

